name: CI Pipeline

on:
  push:
    branches:
      - feat/praktikum-9

env:
  DOCKER_IMAGE_NAME: ${{ secrets.DOCKER_IMAGE_NAME }}
  IMAGE_TAG: ${{ github.sha }}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build JAR (skip tests)
        run: ./gradlew clean build -x test

      - name: Find & copy JAR
        run: cp $(find build/libs -name "*.jar" | head -n 1) app.jar

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: |
            app.jar
            Dockerfile
            k8s/deployment.yaml
            k8s/service.yaml
            k8s/ingress.yaml
          retention-days: 1

  docker-push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-files

      - name: Login into Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t $DOCKER_IMAGE_NAME:$IMAGE_TAG .

      - name: Push Docker image
        run: docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG


  deploy:
    runs-on: ubuntu-latest
    needs: docker-push

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-files

      - name: Install SSH
        run: sudo apt-get update && sudo apt-get install -y ssh

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

      - name: Generate ConfigMap
        run: |
          printf "apiVersion: v1\nkind: ConfigMap\nmetadata:\n  name: accommodation-be-config\n  namespace: default\ndata:\n  DATABASE_URL_PROD: \"%s\"\n  DATABASE_USERNAME: \"%s\"\n" \
          "${{ secrets.DATABASE_URL_PROD }}" \
          "${{ secrets.DATABASE_USERNAME }}" > configmap.yaml

      - name: Generate Secret
        run: |
          printf "apiVersion: v1\nkind: Secret\nmetadata:\n  name: accommodation-be-secret\n  namespace: default\ntype: Opaque\nstringData:\n  DATABASE_PASSWORD: \"%s\"\n 
          "${{ secrets.DATABASE_PASSWORD }}" \

      - name: Replace image tag in deployment
        run: sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > deployment.yaml

      - name: Copy k8s files to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "mkdir -p ~/app/accommodation-be/k8s"
          scp deployment.yaml configmap.yaml secret.yaml k8s/service.yaml k8s/ingress.yaml \
              ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:~/app/accommodation-be/k8s/

      - name: Apply to k3s
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            sudo k3s kubectl apply -f ~/app/accommodation-be/k8s/ &&
            sudo k3s kubectl rollout status deployment/accommodation-be -n default
          "